<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>VirtualCamPro Settings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.avfoundation.cs</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enabled</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>default</key>
            <string>http://127.0.0.1:8888/live/stream/index.m3u8</string>
            <key>defaults</key>
            <string>com.apple.avfoundation.cs</string>
            <key>key</key>
            <string>streamURL</string>
            <key>label</key>
            <string>Stream URL</string>
        </dict>
    </array>
    <key>title</key>
    <string>VirtualCamPro</string>
</dict>
</plist>
